<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--记住 我的电脑这里只能是http才能出来小鸟-->
<mapper namespace="com.fyp.mapper.DeliveringOrderMapper">

    <resultMap id="deliveringorder" type="com.fyp.pojo.Order">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result column="pid" property="iid"/>
        <result property="orderTime" column="order_time"/>
        <result property="count" column="count"/>
        <result property="total" column="total"/>
        <result property="status" column="status"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="totalMoney" column="totalMoney"/>
        <result property="itemId" column="itemId"/>
        <result property="note" column="note"/>
        <association property="customer">
            <id column="id" property="id"/>
            <result property="customerloginid" column="customerloginid"/>
            <result column="email" property="email"/>
            <result column="phone" property="phone"/>
            <result column="address" property="address"/>
        </association>
        <association property="item">
            <id column="id" property="id"/>
            <result property="itemName" column="item_name"/>
            <result property="sid" column="sid"/>
            <result property="price" column="price"/>
            <result property="stock" column="stock"/>
            <result column="status" property="status"/>
            <result property="descr" column="descr"/>
            <result column="fimage" property="fimage"/>
        </association>
    </resultMap>

    <select id="listDeliveringOrder" resultType="com.fyp.pojo.Order" resultMap="deliveringorder">
        select o.id,f.item_name,f.fimage,f.price, o.order_time,o.address,c.customerloginid,o.count, o.total,o.status,o.note,o.phone,c.email,d.id,d.did
        from customer c,item f,f_order o, deliveringorder d
        <where>
            c.id=o.cid and f.id=o.iid and o.id=d.id and d.did=#{did}
        </where>
    </select>

    <insert id="addDeliveringOrder" parameterType="com.fyp.pojo.DeliveringOrder">
        insert into deliveringorder(id,did) values(#{id},#{did})
    </insert>

    <select id="filterOrderbyStatus" resultType="com.fyp.pojo.Order" resultMap="deliveringorder">
        select o.id,f.item_name,f.fimage,f.price, o.order_time,o.address,c.customerloginid,o.count, o.total,o.status,o.note,o.phone,c.email,d.id,d.did
        from customer c,item f,f_order o, deliveringorder d
        <where>
            c.id=o.cid and f.id=o.iid and o.id=d.id and d.did=#{did} and o.status=#{statusid}
        </where>
        order by o.status
    </select>

</mapper>
