<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--记住 我的电脑这里只能是http才能出来小鸟-->
<mapper namespace="com.fyp.mapper.ItemMapper">


    <select id="queryNum" resultType="com.fyp.pojo.CountNumber">
        SELECT f.item_name as name ,SUM(o.count) as count from item f,f_order o where o.iid=f.id and o.sid=#{sid}
        GROUP BY f.item_name order by count desc
    </select>

    <select id="queryTotal" resultType="com.fyp.pojo.CountNumber">
        SELECT f.item_name as name ,SUM(o.total) as count from item f,f_order o where o.iid=f.id and o.sid=#{sid}
        GROUP BY f.item_name order by count desc
    </select>
</mapper>
