<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--记住 我的电脑这里只能是http才能出来小鸟-->
<mapper namespace="com.fyp.mapper.ShopOwnerMapper">

    <resultMap id="shopowner" type="com.fyp.pojo.ShopOwner">
        <result property="id" column="id"/>
        <result property="shop_id" column="shop_id"/>
        <result property="shopownerloginid" column="shopownerloginid"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="cimage" column="cimage"/>
        <association property="store">
            <id column="id" property="id"/>
            <result column="store_name" property="store_name"/>
            <result column="descr" property="descr"/>
        </association>
    </resultMap>

    <select id="listShopOwners" resultType="java.util.List" resultMap="shopowner">
        select * from shopowner o, store s where o.shop_id=s.id
    </select>

</mapper>