<!DOCTYPE html><!--[if IE 8]><html lang="en" class="ie8 no-js"><![endif]--><!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]--><!--[if!IE]><!-->
<html lang="zxx">
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]--><!-- Begin Head -->
<head>
    <title>校园下单配送系统</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
    <!-- Required Start Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/icofont.min.css}">
    <!--Page Specific Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/nice-select.css}">
    <!-- Custom Style -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" id="theme-change" type="text/css" href="#">
    <!-- Favicon Link -->
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}">
</head>
<body>
<div class="loader">
    <div class="spinner"><img th:src="@{/images/loader.gif}" alt=""/></div>
</div>
<!-- Main Body -->
<div class="page-wrapper">
    <div th:insert="~{header :: header}"></div>
    <div th:insert="~{sidebar_admin :: sidebar_admin}"></div>
    <!-- Container Start -->
    <div class="page-wrapper">
        <div class="main-content"><!-- Page Title Start -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box">
                            <h4 class="page-title">修改类型</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- From Start -->
            <div class="from-wrapper">
                <div class="row">

                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>店铺信息</h4>
                                <p class="card-desc">请输入修改店铺详细信息</p>
                            </div>
                            <div class="card-body">
                                <form method="post" th:action="@{/store/updateStore}">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <input type="hidden" th:value="${store.id}" name="id"/>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">店铺名称</label>
                                            <div class="col-md-10">
                                                <input class="form-control" type="text" placeholder="店铺名称" name="/" th:value="${store.storeName}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label">店铺简介</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" placeholder="店铺简介" th:text="${store.descr}" name="descr" th:value="${store.descr}"></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group row mb-0">
                                            <div class="col-sm-10 offset-sm-2">
                                                <input class="btn btn-primary" type="submit">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- Required Script -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script><!-- Page Specific Script -->
<script th:src="@{/js/nice-select.min.js}"></script><!-- Custom Script -->
<script th:src="@{/js/custom.js}"></script>
</body>
</html>
